/* Input CSS */

.box {
  width: fit-content;
  padding: 5px;
  background-color: var(--clr-neutral-250);
}

.box:nth-of-type(1) {
  border-radius: 0.75rem 0 0 0.75rem;
}

.box:last-of-type {
  border-radius: 0 0.75rem 0.75rem 0;
}

input[type="number"] {
  width: fit-content;
}
