extends ../../layout
include ../../mixins/navbar
include ../../mixins/flightsForm
include ../../mixins/componentTest
include ../../mixins/footer
include ../../mixins/destinationCard


block content
    header
        +navbar()
    main
        +flightsForm()
       h2 Popular Destinations
       +destinations ('chris-karidis-nnzkZNYWHaU-unsplash.jpg','Paris','France','Photo by Chris Karidis on Unsplash')
    footer 
        +footer()