extends ../../layout
include ../../mixins/navbar
include ../../mixins/flightsForm
include ../../mixins/componentTest
include ../../mixins/destinationCard

block content
    header
        +navbar()
    main
        +flightsForm()
        h2.heading.foobar Hello world 
        div#potato.chips
            p Hot Potatoes
            +test()
        +destinations ('chris-karidis-nnzkZNYWHaU-unsplash.jpg','Paris','France','Photo by Chris Karidis on Unsplash')
        