extends ../../layout
include ../../mixins/navbar
include ../../mixins/flightsForm
include ../../mixins/componentTest
include ../../mixins/footer

block content
    header
        +navbar()
    main
        +flightsForm()
        h2.heading.foobar Hello world 
        div#potato.chips
            p Hot Potatoes
            +test()
    footer 
        +footer()
