extends ../layout
include ../mixins/exchangeForm
include ../mixins/conversionTable

block content
    main
        script(type='module' src="./conversionTable/conversionTable.js" defer)
        script(type='module' src="./exchange/EUR.js" defer)
        +exchange()
        #converted-amount 
        +conversionTable('USD','GBP')