extends ../layout
include ../mixins/exchangeForm
include ../mixins/conversionTable

block content
    main
        - from = exchangeRates.from
        - to = exchangeRates.to 
        - amount = exchangeRates.amount 
        - rates = exchangeRates.responseData || null 
        +exchange()
        if from && to && rates 
            if amount <= 0
                #converted-amount= `${0} ${to}`
            else 
                #converted-amount= `${(amount * rates[to]).toFixed(2)} ${to}`
            +conversionTable(from,to,rates[to])