extends ../layout
include ../mixins/flightsForm
include ../mixins/flightsResults
include ../mixins/resultCard

block content
    main
        +flightsForm()
        +flightsResults()
        +resultCard()