extends ../layout
include ../mixins/flightsForm
include ../mixins/componentTest
include ../mixins/destinationCard
include ../mixins/exchangeForm


block content
    section.stack-md
        h1 Get the best flights with the best rates
        +flightsForm()
    section.stack-md
        h2 Find the best currency exchange rates
        +exchange()
    section.stack-md
        h2 Find your next adventure
        .destination-gallery 
            +destinations ('paris.png','Paris','France','Photo by Chris Karidis on Unsplash')
            +destinations ('athens.png','Athens','Greece','Photo of Athens on Unsplash')
            +destinations ('lagos.png','Lagos','Nigeria',`Photo by <a href="https://unsplash.com/@thewallpaperguy_?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Nupo Deyon Daniel</a> on <a href="https://unsplash.com/photos/aerial-view-of-city-buildings-during-daytime-67ruAEYmp4c?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>`)
    section.stack-md
        h2 Start planning your journey 
        .services-container 
            .service 
                p Car rental 
            .service 
                p Hotels
            .service 
                p Trains
    section.stack-md 
        h2 What's happening in May 

