extends ../layout
include ../mixins/flightsForm
include ../mixins/componentTest
include ../mixins/destinationCard
include ../mixins/exchangeForm


block content
    section.stack-md
        h1 Get the best flights with the best rates
        +flightsForm()
    section.stack-md
        h2 Find the best currency exchange rates
        +exchange()
    section.stack-md
        h2 Find your next adventure
        .gallery 
            +destinations ('paris.png','Paris','France','Photo by Chris Karidis on Unsplash')
            +destinations ('athens.png','Athens','Greece','Photo of Athens on Unsplash')
            +destinations ('lagos.png','Lagos','Nigeria',`Photo by <a href="https://unsplash.com/@thewallpaperguy_?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Nupo Deyon Daniel</a> on <a href="https://unsplash.com/photos/aerial-view-of-city-buildings-during-daytime-67ruAEYmp4c?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>`)
       
    section.stack-md 
        h2 What's happening in May 
        .events-gallery 
            .events-container 
                h3.events-header Cinco de Mayo Festival
                p.events-date Date: May 5
                p.events-location Location: Worldwide 
                p.events-description Celebrate the rich Mexican heritage with parades, music, folkloric dances, and a feast of traditional Mexican cuisine. A vibrant event perfect for all ages to enjoy the cultural richness.
                a(href="").events-link Learn More
            .events-container 
                h3.events-header Chelsea Flower Show
                p.events-date Date: May 21-25
                p.events-location Location: London, UK 
                p.events-description Explore the world-renowned garden show presented by the Royal Horticultural Society. It's a must-visit for gardening enthusiasts, featuring innovative garden designs and new plant species.
                a(href="").events-link Learn More
            .events-container 
                h3.events-header Cannes Film Festival
                p.events-date Date: May 16-27
                p.events-location Location: Cannes, France
                p.events-description Join the glitz and glamour of one of the most prestigious and publicized film festivals. Catch world premieres and screenings in various categories and enjoy the scenic French Riviera.
                a(href="").events-link Learn More
            .events-container 
                h3.events-header Indianapolis 500
                p.events-date Date: May 26
                p.events-location Location:  Indianapolis, USA
                p.events-description Experience the excitement at the world's oldest currently operational automobile race. It's a perfect event for motor sports enthusiasts.
                a(href="").events-link Learn More
            .events-container 
                h3.events-header International Jazz Day
                p.events-date Date: May 30
                p.events-location Location: Global event
                p.events-description Celebrate the international art form of jazz and its significant role in uniting people in all corners of the globe. Enjoy performances, education programs, and community events.
                a(href="").events-link Learn More

