mixin destinations(image,name,country,attr)
    .destination-card-container(style=`background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(${image});background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;`, aria-label=attr)
        .destination-card-title
            h3= name + ', ' + country 