mixin destinations(image,name,country,attr)
    .destination-card-container(style=`background-image: url(${image})`, aria-label=attr)
        .destination-card-title
            h3= name + ', ' + country 