mixin exchange(from,to)
    link(rel="stylesheet" href="flightsForm.css")
    script(type="module", src="./swapCurrency/swapCurrency.js") 
    form.flex-row(action="/submit-exchange-form" id="currency-exchange-container" method="post")
        .box.width-xs
            label(for="amount") Amount
            input(type="text" id="amount" name="amount" placeholder="Amount...")
        .box.width-xs
            label(for="fromCurrency") From
            select(name="fromCurrency" id="fromCurrency" )
                option(value="GBP") GBP
                option(value="EUR") EUR
                option(value="USD") USD
                option(value="NGN") NGN
                option(value="JMD") JMD
        button.swap#exchangeSwap 
            i.fa-solid.fa-right-left
        .box.width-xs
            label(for="toCurrency") To
            select(name="toCurrency" id="toCurrency" )
                option(value="GBP") GBP
                option(value="EUR") EUR
                option(value="USD") USD
                option(value="NGN") NGN
                option(value="JMD") JMD
        button(type="submit") Submit
            