mixin flightsForm()
    script(src="https://kit.fontawesome.com/288cb3cbfc.js" crossorigin="anonymous")
    script(type="module" src="flightsForm/flightsForm.js" defer)
    link(rel="stylesheet" href="flightsForm.css")
    form.flex-row
        .box.width-xs
            label(for="origin") From
            select(id="origin" name="origin" placeholder="Enter airport here")
                option Choose airport here
        button.swap
            i.fa-solid.fa-right-left
        .box.width-xs
            label(for="destination") To
            select(id="destination" name="destination" placeholder="Enter airport here")
                option Choose airport here
        .box.width-xs
            label(for="depart") Depart
            input(id="depart" type="date" name="depart" placeholder="Add date")
        .box.width-xs
            label(for="return") Return
            input(id="return" type="date" name="return" placeholder="Add date")
        .box.width-xs
            label(for="passengers") Passengers (Adults)
            .flex-row.center
                button(id="minus").operator
                    i.fa-solid.fa-minus
                input(id="passengers" type="number" name="passengers" value="1" min="1" max="8" size="1").width-xxs
                button(id="plus").operator
                    i.fa-solid.fa-plus
        button(type="submit") Submit