mixin flightsResults()
    .search-terms
        .flex-row.space-between
            p
                span#origin-airport name |
                span#destination-airport  name
            p
                span#departure-date date |
                span#arrival-date  date
        .flex-row.space-between
            p
                span#passenger-number 1
                span  adult |
                span  Economy
            button Return