mixin  footer()
    footer
        .footer-container.width-lg.center.flex.flex-row.space-between
            .brand.flex.flex-col.center
                img(src="/favicon.ico", alt="JetSavr Logo").width-xxs
                a(href="", rel="noopener noreferrer") About Us 
                a(href="", rel="noopener noreferrer") Contact Us 

            .nav-Links.flex.flex-col.center
                a(href="/") Home 
                a(href="" , rel="noopener noreferrer") Services 
                a(href="", rel="noopener noreferrer") Blog/News
            
            .github.flex.flex-col.center
                h4 Contributors
                a(href="https://github.com/william-man", target="_blank", rel="noopener noreferrer")  William
                a(href="https://github.com/halimahexe", target='_blank' rel="noopener noreferrer") Halimah
