mixin  footer()
    footer
        .brand
            img(src="favicon.ico", alt="JetSavr Logo")
            a(href="", rel="noopener noreferrer") About Us 
            a(href="", rel="noopener noreferrer") Contact Us 

        .nav-Links 
            a(href="/") Home 
            a(href="" , rel="noopener noreferrer") Services 
            a(href="", rel="noopener noreferrer") Blog/News
        
        .github  
            h4 Contributors
            a(href="https://github.com/william-man", target="_blank", rel="noopener noreferrer")  William
            a(href="https://github.com/halimahexe", target='_blank' rel="noopener noreferrer") Halimah
