mixin navbar()
    nav.flex-row
        img.logo(src="JetSavr-logo.png" alt="JetSavr logo")
        ul.flex-row
            li
                a(href="/flights") Flights 
            li 
                a(href="/currency") Currency Exchange
        