mixin navbar()
    nav.flex-row
        img.logo(src="../../assets/JetSavr-logo.png")
        ul.flex-row
            li
                a(href="/flights") Flights 
            li 
                a(href="/currency") Currency Exchange
        