mixin navbar()
    nav
        div.flex.flex-row.space-between.center.width-xl
            a(href="/") 
                img.logo(src="JetSavr-logo.png" alt="JetSavr logo")
            ul.flex.flex-row.gap-md
                li  
                    a(href="/") Home 
                li
                    a(href="/flights") Flights 
                li 
                    a(href="/currency") Currency Exchange
        