mixin resultCard(carrierDeparture, departureTime, departureAirport)
    script(src="https://kit.fontawesome.com/288cb3cbfc.js" crossorigin="anonymous")
    link(rel="stylesheet" href="resultCard.css")
    .result
        .grid
            .carrier.carrier-departure.vertical-center #{carrierDeparture || `Ryanair`}
            .flight-grid
                .col.col-departure.vertical-center
                    p
                      span.time 06.35
                      span.airport STN
                .col.col-duration.vertical-center
                    p.duration 2h
                    .line
                        i.fa-solid.fa-plane
                    p.stops Direct
                .col.col-arrival.vertical-center
                    p
                      span.time 09:35
                      span.airport MXP
            .carrier.carrier-return.vertical-center Ryanair
            .flight-grid
                .col.col-departure.vertical-center
                    p
                      span.time 13.20
                      span.airport MXP
                .col.col-duration.vertical-center
                    p.duration 2h06
                    .line
                      i.fa-solid.fa-plane
                    p.stops Direct
                .col.col-arrival.vertical-center
                    p
                      span.time 14:25
                      span.airport STN
        .price £61