.destination-card-container {
  max-width: 500px;
  min-width: 250px;
  min-height: 250px;
  width: 30%;
  height: auto;
  border-radius: 0.75rem;
}

.destination-card-title {
  position: relative;
  top: calc(250px * 0.85);
  left: calc(370px * 0.05);
  color: var(--clr-neutral-250);
  font-size: 1rem;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

@media (max-width: 991px) {
  .destination-card-container {
    width: 48%;
  }
}

@media (max-width: 567px) {
  .destination-card-container {
    width: 100%;
  }
}
