@import url("root.css");
@import url("flightsForm.css");
@import url("resultCard.css");
@import url("flightsResults.css");
@import url("destinationCard.css");
@import url("destinationGallery.css");
@import url("conversionTable.css");