/* Import font */
@font-face {
  font-family: "Comfortaa";
  src: url("./fonts/Comfortaa/Comfortaa-Regular.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--ff-regular);
}

:root {
  /* Colours */
  --clr-neutral-100: #f8f9ff;
  --clr-neutral-200: #ebeeff;
  --clr-neutral-250: #E4EAFF;
  --clr-neutral-300: #ece4d1;
  --clr-neutral-400: #c3d7ff;
  --clr-neutral-800: #345ab8;
  --clr-neutral-900: #090f20;

  /* Fonts */
  --ff-regular: "Comfortaa", "Inter", sans-serif;

  /* Font sizes */
  --fs-small: 0.8rem;
  --fs-reg: 1rem;
  --fs-medium: 1.5rem;
  --fs-large: 2rem;

  /* Font weights */
  --fw-light: 300;
  --fw-regular: 400;
  --fw-semi-bold: 600;
  --fw-bold: 700;
}

/* Utility Classes */

.flex-row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.gap-xs {
  gap: 0.5rem;
}

.gap-lg {
  gap: 2rem;
}

.gap-xl {
  gap: 4rem;
}

.center {
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.width-xxs {
  max-width: 3rem;
}

.width-xs {
  max-width: 10rem;
}

.width-sm {
  max-width: 20rem;
}

.width-lg {
  max-width: 60rem;
}

.stack-sm > * + * {
  margin-top: 0.5rem;
}

.stack-md > * + * {
  margin-top: 1rem;
}

.stack-lg > * + * {
  margin-top: 2rem;
}

.stack-xl > * + * {
  margin-top: 4rem;
}

.logo {
  width: 125px;
}

body {
  background-color: var(--clr-neutral-100);
}

ul {
  list-style-type: none;
}

nav,
footer {
  background-color: var(--clr-neutral-800);
  color: var(--clr-neutral-100);
}

/* Code to remove arrows from input[type=number] */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
