include mixins/navbar
include mixins/footer

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title #{title}
        link(rel="stylesheet" href="main.css")
        script(src="https://kit.fontawesome.com/288cb3cbfc.js" crossorigin="anonymous")
    body
        +navbar()
        main.center.width-lg.stack-lg
            block content
        +footer()
                