#converted-amount{
    
}

.Currency-Container {
  display: table;
  width: 100%;
  background-color: var(--clr-neutral-250);
  border-spacing: 0px;
  box-shadow: 5px 2px 5px rgba(0, 0, 0, 0.1), -5px 2px 5px rgba(0, 0, 0, 0.1);
}

tr:nth-child(-n + 2) {
  background-color: var(--clr-neutral-400);
  height: 30px;
}

th,
td {
  padding: 15px;
  width: 50%;
  border-bottom: var(--clr-neutral-400) solid 3px;
}

td {
  vertical-align: middle;
  text-align: center;
}
